*,*:before,*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,img,b,u,i,center,table,tr,th,td,video {
    margin: 0;
    padding: 0;
    border: 0
}

sup {
    line-height: 0;
    font-size: smaller;
    vertical-align: super
}

sub {
    line-height: 0;
    font-size: smaller;
    vertical-align: sub
}

.t-clear {
    clear: both
}

.t-row {
    margin: 0
}

.covers {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0
}

.covers.flexx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.covers_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.covers_100 {
    width: 100%;
    padding: 0
}

.covers_10 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    padding: 0
}

.covers_8 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    padding: 0
}

.covers:before,.covers:after,.covers_10:before,.covers_10:after,.covers_8:before,.covers_8:after,.covers_100:before,.covers_100:after {
    display: table;
    content: " ";
    width: 0
}

.covers:after,.covers_10:after,.covers_8:after,.covers_100:after {
    clear: both
}

.sizepicture {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%
}

.sizepicture.flexx {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto
}

.sizepicture_flex {
    align-items: stretch;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto
}

.sizepicture_1 {
    max-width: 60px
}

.sizepicture_2 {
    max-width: 160px
}

.sizepicture_3 {
    max-width: 260px
}

.sizepicture_4 {
    max-width: 360px
}

.sizepicture_5 {
    max-width: 460px
}

.sizepicture_6 {
    max-width: 560px
}

.sizepicture_7 {
    max-width: 660px
}

.sizepicture_8 {
    max-width: 720px;
}

.sizepicture_9 {
    max-width: 860px
}

.sizepicture_10 {
    max-width: 960px
}

.sizepicture_11 {
    max-width: 1060px
}

.sizepicture_12 {
    max-width: 1160px
}

.sizepicture_100 {
    max-width: 100vw
}


@media screen and (max-width: 1200px) {
    .covers {
        max-width:960px;
        padding: 0
    }

    .covers_10 {
        max-width: 780px
    }

    .covers_8 {
        max-width: 640px
    }

    .sizepicture {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%
    }

    .sizepicture_1 {
        max-width: 60px
    }

    .sizepicture_2 {
        max-width: 140px
    }

    .sizepicture_3 {
        max-width: 220px
    }

    .sizepicture_4 {
        max-width: 300px
    }

    .sizepicture_5 {
        max-width: 380px
    }

    .sizepicture_6 {
        max-width: 460px
    }

    .sizepicture_7 {
        max-width: 540px
    }

    .sizepicture_8 {
        max-width: 620px
    }

    .sizepicture_9 {
        max-width: 700px
    }

    .sizepicture_10 {
        max-width: 780px
    }

    .sizepicture_11 {
        max-width: 860px
    }

    .sizepicture_12 {
        max-width: 940px
    }
}

@media screen and (max-width: 960px) {
    .covers {
        max-width:640px
    }

    .covers.flexx {
        display: block
    }

    .covers_flex {
        display: block
    }

    .sizepicture {
        display: block;
        float: none;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box
    }

    .sizepicture_1,.sizepicture_2,.sizepicture_3,.sizepicture_4,.sizepicture_5,.sizepicture_6,.sizepicture_7,.sizepicture_8,.sizepicture_9,.sizepicture_10,.sizepicture_11,.sizepicture_12 {
        width: 100%;
        max-width: 100%
    }

    .t-prefix_1,.t-prefix_2,.t-prefix_3,.t-prefix_4,.t-prefix_5,.t-prefix_6,.t-prefix_7,.t-prefix_8,.t-prefix_9,.t-prefix_10,.t-prefix_11,.t-prefix_12 {
        padding-left: none
    }
}
