@import './nav';
@import './cover';
@import './text';
@import './grid';
@import './animation';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --body-bg: #edf7fc;
    --nav-link: #445964;
    --nav-hover: #546e7b;
    --header-bg: #4eb74c;
    --link-hover: #2a9031;
    --text: #fff;
}

body {
    background-color: var(--body-bg);
    position: relative;
    z-index: 0;
}

.t-col.t-col_12.t-prefix_.t-item.t-list__item::marker {
  text-decoration: none;
}


.btnup {
    opacity: 0;
	position: fixed;
    bottom: 40px;
	left: 1%;
}

.btnup svg {
	fill: var(--link-hover);
	transition: .3s;
	transform: scale(1.5);
	margin-left: 20px;
	margin-top: calc(50% - 7px);
}

 

.covers:before, .covers:after {
    display: table;
    content: " ";
    width: 0;
}

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, img, b, u, i, center, table, tr, th, td, video {
  margin: 0;
  padding: 0;
  border: 0;
}

#rec558005085 .tn-atom {
  color: #252c35;
  font-size: 36px;
  font-family: 'Ubuntu', Arial, sans-serif;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec558005085 .cover__btn {
  width: 220px;
  height: 52px;
  font-size: 14px;
  font-family: 'Open Sans',Arial,sans-serif;
  line-height: 1.6;
  font-weight: 500;
  text-transform: uppercase;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #76b82a;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.cover__artboard-2 {
  .cover__wrapper {
    height: 100px;
    justify-content:space-between;
  }
}


.t-sbs-anim_started #sbs-558002361-1633692348327 {
  animation: scaleProgress 2.5s linear forwards;
  backface-visibility: hidden;
}

.progress {
  background: linear-gradient(
    to right,
    red 20%,
    orange 0,
    orange 40%,
    yellow 0,
    yellow 60%,
    lime 0,
    lime 80%,
    green 0
  );
  animation: clip auto steps(5) forwards;
  animation-timeline: scroll();
}

@keyframes clip {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.t602__indicator {
  width: 0%;
  height: 4px;
  background: #199c68;
  position: fixed;
  top: 0;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
  z-index: 9999;
}